{
    "endOfLine": "auto",
    "printWidth": 120,
    "bracketSameLine": false,
    "singleQuote": true,
    "trailingComma": "none",
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}